# additional configuration to support stock debian userlands
CONFIG_NO_HZ_IDLE=y
# CONFIG_HZ_PERIODIC is not set
CONFIG_CMA=y
CONFIG_DMA_CMA=y
# CONFIG_IOMMU_SUPPORT is not set
# CONFIG_SECCOMP is not set
# CONFIG_PCIEASPM is not set
CONFIG_BINFMT_MISC=y
CONFIG_SQUASHFS=m
