[Unit]
Description=dhclient
Wants=network.target
After=network.target

[Service]
ExecStart=/sbin/dhclient
Type=simple
Restart=always
EnvironmentFile=-/etc/default/dhclient

[Install]
WantedBy=multi-user.target