#!/usr/bin/make -f

INSTALL_DIR = debian/unix-bench/opt/unix-bench
BIN_DIR     = debian/unix-bench/usr/bin

override_dh_auto_build:
	$(MAKE) -C UnixBench GRAPHIC_TESTS="" \
		CC=$(DEB_HOST_GNU_TYPE)-gcc \
		OPTON="-O3 -ffast-math"

override_dh_auto_install:
	install -d $(INSTALL_DIR)/tmp $(INSTALL_DIR)/results
	cp -a UnixBench/pgms $(INSTALL_DIR)/
	cp -a UnixBench/testdir $(INSTALL_DIR)/
	install -m 0755 UnixBench/Run $(INSTALL_DIR)/Run
	install -m 0644 debian/Makefile.installed $(INSTALL_DIR)/Makefile
	install -D -m 0755 debian/unix-bench.sh $(BIN_DIR)/unix-bench

override_dh_auto_test:

override_dh_strip:
	dh_strip || true

%:
	dh $@
